{% extends 'base.html' %}

{% block content %}
<section class="h-full w-full bg-[--palette-3] flex flex-col">
  <div class="w-full p-7 flex flex-col space-y-3">
    <span class="great-title">Prochaines commandes de la journée</span>
    <div class="w-full h-1 bg-[--palette-1] rounded-lg "></div>
  </div>
  <div class="h-full w-full px-7">
    <table class="w-full">
        <thead class="text-base base-text uppercase bg-[--palette-1] text-[--white-color]">
            <tr>
                <th scope="col" class="px-6 py-3">
                  <span>ID de la commande</span>
                </th>
                <th scope="col" class="px-6 py-3">
                  <span>Nom du client</span>
                </th>
                <th scope="col" class="px-6 py-3">
                  <span>Nom de la salle</span>
                </th>
                <th scope="col" class="px-6 py-3">
                  <span>Nombre d'heure</span>
                </th>
                <th scope="col" class="px-6 py-3">
                  <span>Heure de résarvation</span>
                </th>
                <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Lien</span>
                </th>
            </tr>
        </thead>
        <tbody class="text-sm">
          {% for order in orders %}
          <tr class="bg-[--palette-2] border-b text-[--white-color]">
            {% for attribut in order %}
              <th scope="row" class="px-6 py-4">
                  <span>{{ attribut }}</span>
              </th>
            {% endfor %}
            <td class="px-6 py-4">
              <a href="{{ url_for('order', id=order[0]) }}" class="font-medium text-blue-600 hover:underline">Editer</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
</section>
{% endblock %}