{% extends 'base.html' %}

{% block content %}
<section class="h-full w-full bg-[--palette-3] flex">
  <div class="h-full w-5/12 p-7 flex flex-col space-y-3">
    <span class="great-title">Prochaines Commanndes</span>
    <div class="w-full h-1 bg-[--palette-1] rounded-lg "></div>
    <div class="w-full h-full bg-[--palette-2] rounded-xl"></div>
  </div>
  <div class="h-full w-7/12 flex flex-col p-7 space-y-3">
    <div class="h-2/5 w-full flex flex-col space-y-3">
      <span class="great-title">Prochaines Commanndes</span>
      <div class="w-full h-1 bg-[--palette-1] rounded-lg "></div>
      <div class="w-full h-full bg-[--palette-2] rounded-xl flex flex-col justify-center items-center">
        <span class="important-title">{{en_salle}}</span>
        <span class="great-title">Clients en salles</span>
      </div>
    </div>
    <div class="h-3/5 w-full flex flex-col space-y-3">
      <span class="great-title">Total Journalier</span>
      <div class="w-full h-1 bg-[--palette-1] rounded-lg "></div>
      <div class="w-full h-full bg-[--palette-2] rounded-xl flex flex-col justify-center items-center">
        <span class="important-title">{{total_argent}}€</span>
        <span class="great-title">De commandes ce jour-ci</span>
      </div>
    </div>
  </div>
</section>
{% endblock %}