{% extends 'base.html' %}

{% block content %}
<section class="h-full w-full bg-[--palette-3] flex flex-col">
    <div class="w-full p-7 flex flex-col space-y-3">
        <span class="great-title">Informations complementaires</span>
        <div class="w-full h-1 bg-[--palette-1] rounded-lg "></div>
    </div>
    <div class="px-7">
        <span class="great-title">Logiciels utilisé:</span>
        <p class="text-[--white-color]">- Github<br>- Visual Studio Code<br>- Penpot</p>
        <br>
        <span class="great-title">Lien vers le github</span>
        <br><a href="https://github.com/fr-timothe/KaraManager" target="_blank" class="text-[--white-color]">https://github.com/fr-timothe/KaraManager</a>
    </div>
</section>
{% endblock %}