{% extends 'base.html' %}

{% block content %}
<section class="h-full w-full bg-[--palette-3] flex">

<div class="h-full w-full p-7 flex flex-col space-y-3">
  <div>
    <div class="flex flex-row justify-between">
      <span class="great-title">Créer une commande</span>
    </div>
    <div class="w-full h-1 bg-[--palette-1] rounded-lg "></div>
  </div>
    <div class="h-full w-full flex space-x-24">
        <div class="w-full h-5/12 bg-[--palette-2] rounded-xl flex flex-col p-7">
            <span class="great-title mb-6">Ajouter une commande client</span>
            <form id="main-form" class="overflow-x-auto" method="post">
                <div class="flex flex-row w-full space-x-6">
                  <div class="mb-6 w-full">
                      <label for="nom" class="block mb-2 text-sm font-medium text-white">Nom</label>
                      <input type="text" id="nom" name="nom" list="noms" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" placeholder="Nom" required/>
                      <datalist id="noms">
                        {% for client in clients %}
                          <option value="{{ client[1] }}">
                        {% endfor %}
                      </datalist>
                  </div>
                  <div class="mb-6 w-full">
                      <label for="prenom" class="block mb-2 text-sm font-medium text-white">Prenom</label>
                      <input type="text" id="prenom" name="prenom" list="prenoms" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" placeholder="Prenom" required/>
                      <datalist id="prenoms">
                        {% for client in clients %}
                          <option value="{{ client[2] }}">
                        {% endfor %}
                      </datalist>
                  </div>
                </div>
                <div class="flex flex-row w-full space-x-6">
                  <div class="mb-6 w-full">
                    <label for="salle" class="block mb-2 text-sm font-medium text-white">Salle choisi</label>
                    <select id="salle" name="salle" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white">
                        {% for room in rooms %}
                        <option value="{{ room[1] }}">{{ room[1] }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="mb-6 w-full">
                    <label for="nbr_heure" class="block mb-2 text-sm font-medium text-white">Nombre d'heure(s)</label>
                    <input type="number" id="nbr_heure" name="nbr_heure" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" placeholder="Nombre d'heure(s)" value="1" required/>
                  </div>
                </div>
                <div class="flex flex-row w-full space-x-6">
                  <div class="mb-6 w-full">
                    <label for="date" class="block mb-2 text-sm font-medium text-white">Date de réservation</label>
                    <input type="date" id="date" name="date" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" value="{{ data['date'] }}" min="{{ data['date'] }}" required/>
                  </div>
                  <div class="mb-6 w-full">
                    <label for="heure" class="block mb-2 text-sm font-medium text-white">Heure de réservation</label>
                    <input type="time" id="heure" name="heure" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" value="{{ data['heure'] }}" min="{{ data['heure'] }}" step="1800" required/>
                  </div>
                </div>
                <div class="flex flex-row space-x-5">
                  <button type="submit" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Appliquer</button>
                  <a href="{{ url_for('orders') }}" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-red-600 hover:bg-red-700 focus:ring-red-800">Annuler</a>
                </div>
            </form>
        </div>  
    </div>
  </div>
</section>
{% endblock %}